/* Global Styles */
 body {
            background-color: #FFD1AA;
            font-size: 18px;
        }
        h1{
            color:#003333;
        }
        h2{
            color:#162955;
        }
        .endangered {
            color:red;
        }
        .threatened {
            color:OrangeRed;
        }
        .scientific-name{ 
            font-style:italic;
        }
body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar Styles */
.nav-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav-bar h1 {
    margin: 0;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #fff;
}

/* Content Styles */
.content {
    margin: 20px;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
